html {
	box-sizing: border-box;
	text-align: left;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

body {
	margin: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
	background-color: #db0f0f;
	margin: 0;
	text-align: center;
	padding-top: 15pt;
	padding-bottom: 15pt;
}

h1 {
	text-align: center;
	margin: 0;
	color: #fff;
	font-size: 50pt;
	text-shadow: 2px 2px 2px #000;
	position: absolute;
	width: 100%;
	top: 20px;
}

small {
	font-size: 10pt;
	display: block;
}

p {
	text-align: center;
}

.medallion {
	width: 120px;
	display: inline-block;
}


nav ul {
	margin: 0;
	padding: 0;
}

nav a {
	color: #fff;
	text-align: left;
	font-size: 10pt;
}

nav li {
	margin: 0;
	padding: 10pt;
	padding-left: 20pt;
	width: 50%;
	list-style-type: none;
	display: inline-block;
	border: 1px solid #000;
	background-color: #222222;
}

.clear {
	clear: left;
}

.clear2 {
	clear: right;
}

p {
margin: 0;
}

.banner {
	position: relative;
}

.banner-image {
	clear: both;
	display: block;
	width: 100%;
}

.banner-text {
	font-size: 15pt;
	font-style: italic;
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	bottom: 2em;
	text-shadow: 2px 2px 2px #000;
}

h2 {
	text-align: center;
	font-size: 20pt;
	margin: 0;
	padding-top: 25pt;
}

.white {
	color: #fff;
}

.white-text {
	color: #fff;
	text-align: center;
	padding-bottom: 25pt;
	font-style: italic;
	font-size: 12pt;
}

.black-text {
	text-align: center;
	padding-bottom: 25pt;
	font-style: italic;
	font-size: 12pt;
}

.paragraph {
	padding-top: 25pt;
	padding-bottom: 25pt;
	text-align: left;
}

.yellow {
	background-color: #e4c22a;
}

.black {
	background-color: #222222;
}

.red {
	background-color: #bc0017;
}

img {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

footer {
	color: #fff;
	text-decoration: underline;
	background-color: #000;
	text-align: center;
	padding-top: 25pt;
	padding-bottom: 25pt;
}
